* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    color: #7e722d;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* HEADER STYLES START */
  
  header {
    font-family: 'Georgia';
    padding: 20px 35px;
    background-color: #36132e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 44px;
    color: #ffffff;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 14px;
  }

  h2 {
    font-style: italic bold;
    margin: 2%;
    color: #fce138;
    position: center;
  }
  
  p {
  width: 75%;
  text-align: left;
  margin: 1%;
  color: white;
  font-size: 18px;
  line-height: 1.3;
}

  /* HEADER / NAVBAR STYLES END */

  /* HERO STYLES START */
.hero {
    background-image: url('../images/PanelBannerblank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .hero-cta {
    width: 75%;
    text-align: left;
    margin: 3.5%;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.3;
  }
  
  .hero-cta h2 {
    text-align: right;
    position: center;
    font-style: italic;
    font-size: 7.5vw;
    color: #fce138;
  } 
  /* HERO STYLES END */

  .about-me {
    background-color: rgb(121, 83, 112);
    background-size: 95%;
    border: 3mm ridge rgba(54, 12, 71, 0.6);
    margin: 1%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .about-me h2 {
    position: top;
    text-align: center;
  }

  .about-me p {
    width: 90%;
    text-align: left;
    margin: 3%;
    color: white;
    font-size: 18px;
    line-height: 1.3;
  }

  .about-me img {
    max-width: 40%;
    min-width: 40%;
    margin: 3%;
    align-self: center;
    shape-outside: circle();
    border-radius: 50%;
    border-width: 3mm;
    border-style: ridge;
    border-color: rgba(54, 12, 71, 0.6);
  }

  .portfolio {
    background-color: rgb(121, 83, 101);
    background-size: 95%;
    border: 3mm ridge rgba(54, 12, 71, 0.6);
    margin: 1%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .portfolio h2 {
    position: top;
    text-align: center;
  }

  .portfolio p {
    width: 90%;
    text-align: left;
    margin: 3%;
    color: white;
    font-size: 18px;
    line-height: 1.3;
  }

  .portfolio ul li a{
  display: flex;
  flex-wrap: wrap;
  border-style: 1mm solid black;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 30px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 1.3;
  }

  .resume {
    background-color: rgb(121, 83, 101);
    background-size: 95%;
    border: 3mm ridge rgba(54, 12, 71, 0.6);
    margin: 1%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .resume h2 {
    position: top;
    text-align: center;
  }

  .resume p {
    width: 90%;
    text-align: left;
    margin: 3%;
    color: white;
    font-size: 18px;
    line-height: 1.3;
  }

  .contact-me {
    background-color: rgb(121, 83, 101);
    background-size: 95%;
    border: 3mm ridge rgba(54, 12, 71, 0.6);
    margin: 1%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .contact-me h2 {
    position: top;
    text-align: center;
  }

  .contact-me p {
    flex: flex;
    flex-wrap: wrap;
    background-color: white;
    width: inherit;
    padding: inherit;
    text-align: left;
    margin: 1%;
    color: black;
    border-style: inset;
    border-width: 1mm;
    font-size: 18px;
    line-height: 1.3;
  }

  #portfolio-links-1 {
    font-weight: bold;
    color:rgb(0, 255, 255);
    margin-left: 4vw;
    display: block;
  }


  /* MEDIA QUERIES */
  @media screen and (min-width: 750px) {
    div.example {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 2048px) {
    div.example {
      font-size: 30px;
    }
  }